* {
	margin: 0;
	padding: 0;
}

#minecraft_img {
	width: 80%;
	padding: 0 10%;
}

#menu_text {
	background-color: #80ffb0;
	text-align: center;
	padding: 60px;
}

nav {
	background-color: #333;
	overflow: hidden;
}

nav a {
	color: white;
	padding: 14px 20px;
	display: block;
	text-align: center;
	text-decoration: none;
}

.menu_left {
	float: left;
}

.menu_right {
	float: right;
}

nav a:hover {
	background-color: #ddd;
	color: black;
}

#flex_container {
	display: flex;
	flex-wrap: nowrap;
}

#left_side {
	flex: 30%;
	background-color: #dbd9d9;
	padding: 10px 20px;
}

#right_side {
	flex: 70%;
	padding: 10px 20px;
}

h2 {
	color: #3333ff;
	margin-top: 20px;
	margin-bottom: 10px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table, th, td {
	text-align: center;
	border: solid 1px #333;
	padding: 5px 10px;
}

footer {
	background-color: #333;
	color: white;
	text-align: center;
	padding: 14px 20px;
}

.course_item {
	flex: 33%;
	text-align: center;
}

.course_img {
	width: 90%;
}

#course_container {
	display: flex;
	flex-wrap: wrap;
}

.course_title {
	font-size: 150%;
	font-weight: bold;
	padding: 10px 10px 5px 10px;
}

.course_desc {
	padding: 0px 10px 20px 10px;
}

@media (max-width: 800px) {
	#flex_container {
		flex-wrap: wrap;
	}
	#left_side, #right_side {
		flex: 100%;
	}
	.course_item {
		flex: 50%;
	}
}
